@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
}
body{
    background-color: black;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logoImg {
    width: 150px;
    height: 150px;
}

.logoText {
    font-size: 30px;
    color: #eee;
    font-family: Arial;
}

.login {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInputs {
    margin-top: 10px;
    font-size: 18px;
    color: black;
    /* border: 1px solid black; */
    padding: 5px 10px;
    border-radius: 5px;
}

/*.signUp {*/
    /*font-size: 30px;*/
    /*margin-top: 20px;*/
    /*color: blue;*/
/*}*/
.regUp{
    background-color: black;
    font-size: 16px;
    margin-top: 20px;
    color: #4487f0;
    font-family: Arial;
    -webkit-appearance: none;
}
.regUpGo{
    font-size: 20px;
    color: #eee;
    background-color: #4f955b;
    padding: 5px;
    margin-top: 20px;
    font-family: Arial;
    -webkit-appearance: none;
    border-radius: 0;
}
#regBlock{
    width: 56vw;
    display: flex;
    justify-content: space-between;
}