<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- DB User -->
    <!-- DB Password -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    <!--<property name="default_schema">public</property>-->

    <property name="hibernate.show_sql">true</property>
    <!--<property name="connection.url">jdbc:postgresql:access_control_db</property>-->
    <property name="connection.url">jdbc:postgresql://192.168.1.246:5432/hackdb</property>
    <!--<property name="connection.username">postgres</property>-->
    <!--<property name="connection.password">563453</property>-->
    <property name="connection.driver_class">org.postgresql.Driver</property>

    <!-- DB schema will be updated if needed -->
    <!--<property name="hbm2ddl.auto">update</property>-->

    <mapping resource="entities/Authority.hbm.xml"/>
    <mapping resource="entities/Group.hbm.xml"/>
    <mapping resource="entities/User.hbm.xml"/>
    <mapping resource="entities/Question.hbm.xml"/>
    <mapping resource="entities/Qpicture.hbm.xml"/>
    <mapping resource="entities/Answer.hbm.xml"/>
    <mapping resource="entities/Vote.hbm.xml"/>
    <mapping resource="entities/UserLikes.hbm.xml"/>
    <mapping resource="entities/Userwatched.hbm.xml"/>

  </session-factory>
</hibernate-configuration>